<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>

<div class="container ml-2 p-4 d-flex">
  <div class="col-3 bg-light shadow rounded" style="height: 70vh; width: 35vh">
    <div class="w-100 bg-bookso text-center py-2 fw-bold font-color-secondary rounded-top" >ADMIN PANEL</div>
    <div class="w-100 h-75 d-flex flex-column ps-4 justify-content-around text-bookso fw-bold mt-3 custom-text-shadow">
      <a class="text-decoration-none text-bookso" href="/admin"><div><i class="fa-solid fa-layer-group pe-2" style="color: #535351;"></i>DASHBOARD</div></a>
      <a class="text-decoration-none text-bookso" href="/admin/products"><div><i class="fa-solid fa-cubes-stacked pe-2" style="color: #535351;"></i>PRODUCTS</div></a>
      <a class="text-decoration-none text-bookso" href="/admin/customers"><div><i class="fa-solid fa-users pe-2" style="color: #535351;"></i>CUSTOMERS</div></a>
      <a class="text-decoration-none text-bookso" href="/admin/orders"><div><i class="fa-solid fa-cart-shopping pe-2" style="color: #535351;"></i>ORDERS</div></a>
      <a class="text-decoration-none text-bookso" href="/admin/category"><div><i class="fa-solid fa-list pe-2" style="color: #535351;"></i>CATEGORY</div></a>
      <a class="text-decoration-none text-bookso" href="/admin/report"><div><i class="fa-solid fa-universal-access pe-2" style="color: #535351;"></i>SALES REPORT</div></a>
      <a class="text-decoration-none text-bookso" href="/admin/banner"><div><i class="fa-regular fa-flag pe-2" style="color: #535351;"></i>BANNER MANAGE</div></a>
      <a class="text-decoration-none text-bookso" href="/admin/coupons"><div><i class="fa-solid fa-ticket-simple pe-2" style="color: #535351;"></i>MANAGE COUPONS</div></a>
  </div>
    </div>
    <div class="col-9 px-4">
        <table class="table">
          <thead>
            <a><tr>
              <th scope="col">OrderNo</th>
              <th scope="col">User</th>
              <th scope="col">Date</th>
              <th scope="col">Total Amt</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr></a>
          </thead>
          <tbody>
            <% orders.forEach(order => { %>
            <a><tr>
              <td><%= order._id %></td>
              <td><%= order.userId.name%></td><!-- user name -->
              <td><%= order.createdAt %></td> date
              <td><%= order.totalAmt %></td>
              <td class="position-relative" id="order-status">
                <select class="form-select" aria-label="Default select example" onchange="handleOnChange(event)" orderId="<%= order._id %>">
                  <option class="text-primary" value="Placed" <%= order.status === 'Placed' ? 'selected' : '' %>>Placed</option>
                    <option class="text-warning" value="Shipped" <%= order.status === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                    <option class="text-success" value="Delivered" <%= order.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                    <option class="text-danger" value="Cancelled" <%= order.status === 'Cancelled' ? 'selected' : '' %>>Cancelled</option>
                    <option class="text-success" value="Returned" <%= order.status === 'Returned' ? 'selected' : '' %>>Returned</option>
                  <option value="Returned"></option>
                </select>
               
              </td>
              <td><a class="btn btn-warning" href="/admin/details/<%= order._id %>">Details</a></td> 
            </tr></a>
            <% }) %>
          </tbody>
        </table>
      </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/9160c00447.js" crossorigin="anonymous"></script>

<script>
  const handleOnChange = (event) => {
    const orderId = event.target.getAttribute('orderId');
    console.log(orderId);

    fetch(`/admin/status?orderId=${orderId}&newStatus=${event.target.value}`)
  }
</script>


