<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %>
<%-include('partials/adminSidebar.ejs') %>
    
    <div class="col-9 px-4">
<button type="button" class="btn-global-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    New Category
  </button> 
  <% if (message) { %>
    <div
    class="alert alert-danger"
    role="alert"
    id="error-message"
    ><%= message%></div>
    <% } %>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" id="category-form" action="/admin/category">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input name="name" type="text" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
            </div>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Category</button>
        </div>
    </div>
</div>
</div>
</form>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
                <% let i = 1 %>
                <% categories.forEach(catego => { %>
                 
                    <tr>
                        <th scope="row"><%= i %></th>
                        <td><%= catego.name %></td>
                        <td class="px-3"><%= catego.description %></td>
                        <td><% if (catego.isListed) { %>
                            <a class="btn btn-danger" href="/admin/category/unlist/<%= catego._id %>">
                                Unlist
                            <% }else{ %> 
                              <a class="btn btn-success" href="/admin/category/list/<%= catego._id %>">
                                List
                            <% } %> 
                          </a></td>
                        <% i++ %>
                        <td><a class="btn btn-warning" href="/admin/category/edit/<%=catego._id %>">EDIT</a></td>
                    </tr>

                <% }) %>
                </tbody>
          </table>
    </div>


  </div>




</div>
<div class="col-12"></div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<script src="https://kit.fontawesome.com/9160c00447.js" crossorigin="anonymous"></script>
<script>

</script>