<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %>



<img src="../images/books landing.jpg" style="width: 1320px; height: 400px;">
<h1 id="landing-text-color">BEST SELLING PRODUCT</h1>

<div class="container">
  <div class="row d-flex" style="padding-top: 20px;">  
    <% products.forEach(product => { %>
      <div class="col-md-3">
          <a href="/product/<%= product._id %>">
          <img class="img-1" style="height: 200px; width: 140px;" src="../uploads/<%= product.image[0] %>">
        </a>
        <div class="landing-name mb-3"><%= product.name %></div>
        </div>
    <% }) %>
  </div>
</div>






      <!-- <div class="col-md-3">
        <img class="img-2" style="height: 200px; width: 140px;" src="../images/3 thousand.jpg">
        <div class="img-1-steal">Three thousand wishes</div>
      </div>
      <div class="col-md-3">
        <img class="img-3" style="height: 200px; width: 140px;" src="../images/5 am club.jpg">
        <div class="img-1-steal">5 am Club</div>
      </div>
      <div class="col-md-3">
        <img class="img-4" style="height: 200px; width: 140px;" src="../images/h2.jpg">
        <div class="img-1-steal">Harry potter and the chamber of secrets</div>
      </div> -->


      <%- include('partials/closingHead.ejs') %>