<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %>



<!-- <img src="../images/books landing.jpg" style="width: 100%; height: 400px;"> -->
<div style="width:100%; height: 500px"><img src="../images/books landing.jpg" style="width: 100%; height: 100%; object-fit:cover;"></div>
<h1 id="landing-text-color">BEST SELLING PRODUCT</h1>

<div class="container">
  <div class="row d-flex" style="padding-top: 20px;">  
    <% products.forEach(product => { %>
      <% if (product) { %>
       
        <div class="col-md-3">
          <a href="/product/<%= product._id %>">
            <img class="img-1" style="height: 200px; width: 140px;" src="../uploads/<%= product.image[0] %>">
          </a>
          <div class="landing-name mb-3"><%= product.name %></div>
        </div>
        <% } %>
    <% }) %>
  </div>
</div>
      <%- include('partials/closingHead.ejs') %>