<%- include('partials/head.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<%- include('partials/navbar.ejs') %>
<%- include('partials/userSidebar.ejs') %>

<div class="col-9">
  <% if (orders !== null) { %>
  <div class="text-center text-bookso fs-4 fw-bold py-3 mx-3 shadow">
    ORDERS
    <hr style="color: #f6ef38; height: 6px" />
  </div>
  <% orders.forEach((order, index) => { %>
  <div class="py-3 mx-3 shadow custom-box-shadow mb-3">
    <div class="mx-3">
    <button class="btn btn-success" onclick="downloadPdf()">Download PDF</button>
    <button class="btn btn-primary" onclick="downloadExcel()">Download Excel</button>
  </div>
    <div class="mx-3 border rounded border-2 h-75 p-4 shadow mt-3">
      <div>
        <table class="table" id="orders">
          <tbody>
            <tr>
              <td class="fw-bold">Order Id:</td>
              <td><%= order._id %></td>
            </tr>
            <tr>
              <td class="fw-bold">Address:</td>
              <td>
                <%= `${order?.address?.name}, ${order?.address?.address},
                ${order?.address?.phone}` %>
              </td>
            </tr>
            <tr>
              <td class="fw-bold">Payment Method:</td>
              <td><%= order.paymentMethod %></td>
            </tr>
            <tr>
              <td class="fw-bold">Amount:</td>
              <td>₹<%= order.amount %></td>
            </tr>
            <tr>
              <td class="fw-bold">Delivery Charges:</td>
              <td>₹<%= order.deliveryCharge %></td>
            </tr>
            <tr>
              <td class="fw-bold">Discount</td>
              <td>₹<%= order.discount %></td>
            </tr>
            <tr>
              <td class="fw-bold">Total Amount</td>
              <td>₹<%= order.totalAmount %></td>
            </tr>
            <tr>
              <td class="fw-bold">Status:</td>
              <td><%= order.status %></td>
            </tr>
            <tr>
              <% if (order.status === 'Cancelled') { %>
              <div class="alert alert-primary" role="alert">
                Order Cancelled
              </div>
              <% } else if (order.status === 'Returned') { %>
              <div class="alert alert-primary" role="alert">Order Returned</div>
              <% } else if (order.productCancellation.cancelStatus === true) {
              %>
              <div class="alert alert-danger" role="alert">
                Order Cancellation Initiated
              </div>
              <% } else if (order.productReturned.returnStatus === true) { %>
              <div class="alert alert-danger" role="alert">
                Return Request Initiated
              </div>
              <% } else if (order.status === 'Delivered') { %>
              <button
                type="button"
                class="btn btn-warning"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal<%=index%>"
              >
                Return
              </button>
              <% } else { %>
              <button
                type="button"
                class="btn btn-warning"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal<%=index%>"
              >
                Cancel
              </button>
              <% } %>
            </tr>
          </tbody>
        </table>
        <h5>Items</h5>
        <div class="d-flex mt-2 mb-2 align-items-center flex-column p-3">
          <% order.items.forEach(product => { %>
          <div class="card mx-3 border rounded h-100 m-1 w-100">
            <div class="card-body d-flex align-items-center">
              <img
                src="../uploads/<%= product.productId.image[0] %>"
                class="card-img-top"
                alt="Product Image"
                style="width: 70px; height: 70px"
              />
              <div class="ms-3">
                <h5 class="card-title fw-bold mb-1 text-primary">
                  <%= product.productId.name %>
                </h5>
                <p class="card-text mb-1 text-secondary">
                  Price: ₹<%= product.pricePerItem %>
                </p>
                <p class="card-text mb-1 text-secondary">
                  Quantity: <%= product.qty %>
                </p>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
  <% }) %> <% } else { %>
  <h2>No orders</h2>
  <% } %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script>
    const downloadExcel = () => {
        const table = document.getElementById('orders');
        const ws = XLSX.utils.table_to_sheet(table);
        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Sales Report');
        XLSX.writeFile(wb, 'order.xlsx');
    }

    const downloadPdf = () => {
        const element = document.getElementById('orders');
        html2pdf().from(element).save('order.pdf');
    }
</script>

<%- include('partials/closingHead.ejs') %>