<%- include('partials/head.ejs') %>
<%-include('partials/navbar.ejs') %>
<div class="container bg-bookso text-center text-light fs-4 fw-bold">
  ORDER SUMMARY
</div>
<div class="container">

    <div class="py-2 ps-auto ml-3 mx-3">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn-global-secondary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Add New Address
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <form action="/address" method="POST">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">NEW ADDRESS</h5>
            <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            ></button>
          </div>
          <!--//input fields-//-->
          <div class="modal-body">
            <div class="g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Name</label>
              </div>
              <div class="col-auto">
                <input  name="name" type="text" class="form-control" />
              </div>
              <div class="col-auto">
                <label class="col-form-label">Phone Number</label>
              </div>
              <div class="col-auto">
                <input  name="phone" type="number" class="form-control" />
              </div>
              <div class="col-auto">
                <label class="col-form-label">Pincode</label>
              </div>
              <div class="col-auto">
                <input  name="pincode" type="number" class="form-control" />
              </div>
              <div class="col-auto">
                <label class="col-form-label">Locality</label>
              </div>
              <div class="col-auto">
                <input  name="locality" type="text" class="form-control" />
              </div>
              <div class="col-auto">
                <label class="col-form-label">Address</label>
              </div>
              <div class="col-auto">
                <input  name="address" class="form-control"></input>
              </div>
              <div class="col-auto">
                <label class="col-form-label">City/District</label>
              </div>
              <div class="col-auto">
                <input  name="city" type="text" class="form-control" />
              </div>
              <div class="col-auto">
                <label class="col-form-label">Landmark</label>
              </div>
              <div class="col-auto">
                <input  name="landmark" type="text" class="form-control" />
              </div>
          
          </div>
          <!-- input field -->
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
  </div>
  <% let totalPrice = 0 %>
  <form action="/orders/addOrder" id="placeOrderForm" method="post">
    <div class="d-flex">
    <div class="ms-4 col-6 mt-4">
      <% addressesOrder.forEach((address,index) => { %>
        <div class="w-100 d-flex border rounded m-2 shadow">
          <div class="col-10 d-flex flex-column py-2 ps-2">
            <div class="container mt-2">
              <div class="quantity-selector d-flex">
                <div class="form-check ">
                  <input class="form-check-input" name="address" type="radio" id="<%= address._id %>" value="<%= address._id %>" <%= index===0? "checked":null %>>
                  <label class="form-check-label" for="<%= address._id %>"> 
                  <span class="container px-2 text-bookso-product fs-6 fw-bold text-dark"> DELIVER TO:</span>
                  <span class="container px-2 text-bookso-product fs-6 fw-bold text-dark"><%= address.name %></span>
                  <span class="container px-2 text-bookso-product fs-6 fw-bold text-dark"><%= address.pincode %></span><br>
                  <span class="container px-2 text-bookso-products"><%= address.locality %></span>
                  <span class="container px-2 text-bookso-products"><%= address.city %></span>
                  <span class="container px-2 text-bookso-products"><%= address.landmark %>
                  </label> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
    <% products.forEach(item => { %>
    <div class="w-100 d-flex border rounded m-2 shadow">   
    <div class="col-2 ms-2" ><img src="../uploads/<%= item?.productId?.image[0] %>"  class="w-100" style="width: 100%; height: 100%; object-fit: contain;"/></div>
    <div class="col-10 d-flex flex-column py-2 ps-2"><div class="fw-bold mt-1"><%= item?.productId?.name %></div>  
    <div class="fw-bold text-primary mt-1">₹<%= item?.productId?.price %></div>
    <div class="fw-bold text-secondary mt-1">qty:<%= item?.qty %></div>
    <div class="fw-bold text-success mt-1">* Delivered on 17th Aug</div>
    </div>
    </div>
    <%totalPrice = totalPrice+(item?.productId?.price*item?.qty)%>
    <% }) %>
</div>
<div class="ms-4 col-5 mt-4 ">

        <div class="w-100 border shadow shadow-rounded rounded m-2">
                    <div class="container text-bookso text-center fs-4 fw-bold mt-2">
                        PRICE DETAILS
                    </div>
                    <hr>
                      <div class=" ms-2 text-secondary fw-bold">
                        PRICE:
                        <span style="color: rgb(21, 85, 224)"><%= totalPrice %></span><br>
                        DISCOUNT: <%= coupon ?cDiscount :0 %><br>
                        DELIVERY CHARGES:<span style="color: rgb(21, 85, 224)"><%= totalPrice*shippingCharge %></span>
                      </div>
                    <hr>
                    <span class="fw-bold ms-2">TOTAL AMOUNT:</span><span class="fw-bold"><%= Math.round(coupon? cTotalPrice : totalPrice*(1+shippingCharge)) %></span>
                    <hr>
        </div>
        <span>
          <div class="form-check fs-5" >
          <div  class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="option" id="one" value="COD" checked>
            <label  class="form-check-label" for="one">COD</label>
          </div>
          <div  class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="option" id="three" value="Card">
            <label class="form-check-label" for="three">Card</label>
          </div>
          <div  class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="option" id="two" value="Wallet" <%= totalPrice*(1+shippingCharge) <= wallet ? null: "disabled" %>>
            <label class="form-check-label" for="two">Wallet (Bal: <%= wallet %>)</label>
          </div>
      </span>
      
      <input type="text" value="<%= cTotalPrice %>" name="cTotalAmount" style="display: none;">
      <input type="text" value="<%= discountPercentage %>" name="discountPercentage" style="display: none;">

  <button type="submit" class="btn-global-primary mt-4 fw-bold" href="/orders/payment"><div class=""> PROCEED TO PAY</div></button>
</form> 


         
        </div>
</div>
</div>

<script>
  let quantity = 1;

  function increaseQuantity() {
    quantity++;
    updateQuantity();
  }

  function decreaseQuantity() {
    if (quantity > 1) {
      quantity--;
      updateQuantity();
    }
  }

  function updateQuantity() {
    document.getElementById("quantity").innerText = quantity;
  }


const button = document.querySelector("button")
button.addEventListener("Click",()=>{
  console.log("chheeecccckOUT")
})


</script>





<%- include('partials/closingHead.ejs') %>