<%- include('partials/head.ejs') %>
<%-include('partials/navbar.ejs') %>

<% let totalPrice = 0 %>

<div class="container">
    <div class="container bg-bookso text-center text-light fs-4 fw-bold">
      ORDER SUMMARY
    </div>
  
    <div class="d-flex">
    <div class="ms-4 col-6 mt-4">
      <% addressesOrder.forEach(address => { %>
        <div class="w-100 d-flex border rounded m-2 shadow">
          <div class="col-10 d-flex flex-column py-2 ps-2">
            <div class="container mt-2">
              <div class="quantity-selector d-flex">
                <div class="form-check ">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="<%= address._id %>">
                  <label class="form-check-label" for="<%= address._id %>"> 
                  <span class="container px-2 text-bookso-product fs-6 fw-bold text-dark"> DELIVER TO:</span>
                  <span class="container px-2 text-bookso-product fs-6 fw-bold text-dark"><%= address.name %></span>
                  <span class="container px-2 text-bookso-product fs-6 fw-bold text-dark"><%= address.pincode %></span><br>
                  <span class="container px-2 text-bookso-products"><%= address.locality %></span>
                  <span class="container px-2 text-bookso-products"><%= address.city %></span>
                  <span class="container px-2 text-bookso-products"><%= address.landmark %>
                  </label> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
    <% products.forEach(item => { %>
    <div class="w-100 d-flex border rounded m-2 shadow">   
    <div class="col-2 ms-2" ><img src="../uploads/<%= item.productId.image[0] %>"  class="w-100" style="width: 100%; height: 100%; object-fit: contain;"/></div>
    <div class="col-10 d-flex flex-column py-2 ps-2"><div class="fw-bold mt-1"><%= item.productId.name %></div>  
    <div class="fw-bold text-primary mt-1">₹<%= item.productId.price %></div>
    <div class="fw-bold text-secondary mt-1">qty:<%= item.qty %></div>
    <div class="fw-bold text-success mt-1">* Delivered on 17th Aug</div>
    </div>
    </div>
    <%totalPrice = totalPrice+(item.productId.price*item.qty)%>
    <% }) %>
</div>
<div class="ms-4 col-5 mt-4 ">

        <div class="w-100 border shadow shadow-rounded rounded m-2">
                    <div class="container text-bookso text-center fs-4 fw-bold mt-2">
                        PRICE DETAILS
                    </div>
                    <hr>
                      <div class=" ms-2 text-secondary fw-bold">
                        PRICE:<span style="color: rgb(21, 85, 224)"><%= totalPrice %> </span><br>
                        DISCOUNT: <br>
                        DELIVERY CHARGES:<span style="color: rgb(21, 85, 224)"><%= totalPrice*0.05 %></span>
                      </div>
                    <hr>
                    <span class="fw-bold ms-2">TOTAL AMOUNT:</span><span class="fw-bold"><%= totalPrice*1.05 %></span>
                    <hr>
        </div>
        <a class="text-decoration-none" href=""><div class="container bg-bookso text-center text-light fs-4 fw-bold mt-4 ms-2"> PROCEED TO PAY</div></a>
         
        </div>
</div>
</div>

<script>
  let quantity = 1;

  function increaseQuantity() {
    quantity++;
    updateQuantity();
  }

  function decreaseQuantity() {
    if (quantity > 1) {
      quantity--;
      updateQuantity();
    }
  }

  function updateQuantity() {
    document.getElementById("quantity").innerText = quantity;
  }
</script>


<%- include('partials/closingHead.ejs') %>