<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %>
<link rel="stylesheet" href="css/productDetail.css">

<% const product1 = product%>

<!-- content -->
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image">
            <div class="img-magnifier-container"><img style="max-width: 100%; max-height: 100vh; margin: auto" class="rounded-4 fit " id="myimage" src="/uploads/<%= product.image[0] %>"></div>
          </a>
        </div>
        <div class="d-flex justify-content-center mb-3">
          <% product.image.forEach(image => { %>
          <a
            data-fslightbox="mygalley"
            class="border mx-1 rounded-2"
            target="_blank"
            data-type="image"
            class="item-thumb"
          >
            <img
              width="60"
              height="60"
              class="rounded-2"
              src="../uploads/<%= image %>"
            />
          </a>
          <% }) %>
        </div>
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark text-capitalize"><%= product.name %></h4>

          <div class="mb-3">
            <span class="h5">₹<%= product.price %></span>
          </div>

          <p>
           <%= product.description %>
          </p>

          <div class="row">
            <dt class="col-3">Author:</dt>
            <dd class="col-9 text-capitalize"><%= product.author %></dd>

            <dt class="col-3">Publication</dt>
            <dd class="col-9 text-capitalize"><%= product.publication %></dd>

            <dt class="col-3">Language</dt>
            <dd class="col-9 text-capitalize"><%= product.language %></dd>

            <dt class="col-3">Discount</dt>
            <dd class="col-9"><%= product.discount %>%</dd>

            <!-- <dt class="col-3">Stock</dt>
            <dd class="col-9"><%= product.stock %></dd> -->
          </div>
          <hr />

          <div class="row mb-4">
            <div class="col-md-4 col-6">
              <label class="mb-2">Format</label>
              <select
                class="form-select border border-secondary"
                style="height: 35px"
              >
                <option>Paperback</option>
                <option>Hard Cover</option>
                <option>Kindle</option>
                <option>AudioBook</option>
              </select>
            </div>
            <!-- col.// -->
            <% if (cartQty) { %>
            <div class="alert alert-warning mt-2" role="alert">
              Already Added <%= cartQty %> To Cart
            </div>
            <% } %>
            <div
              id="productData"
              data-product="<%= JSON.stringify(product) %>"
              style="display: none"
            ></div>
            <!--  -->
            
            <!--  -->
            <div class="container mt-2">
              <div class="quantity-selector d-flex">
                <button
                  class="btn quantity-btn border-warning bg-bookso"
                  onclick="decreaseQuantity()"
                >
                  -
                </button>
                <span
                  id="quantity"
                  productId="<%= product._id %>"
                  class="ms-1 me-1"
                >
                  1
                </span>
                <button
                  class="btn quantity-btn border-warning bg-bookso"
                  onclick="increaseQuantity()"
                >
                  +
                </button>
              </div>
            </div>
            <% if (product.stock<10) { %>
            <span style="color: red">Only <%= product.stock %> Items Left</span>
            <% } %>
          </div>
          <a href="#" class="btn btn-warning shadow-0"> Buy now </a>
            <button onclick="addToCart()" class="btn btn-primary shadow-0">
              <i class="me-1 fa fa-shopping-basket"></i> Add to cart
            </button> 
          
          <button
            onclick="addToWishlist()"
            class="btn btn-light border border-secondary py-2 icon-hover px-3"  id="wishlist"
          >
            <i class="me-1 fa fa-heart fa-lg"></i> Wishlist
          </button>
        </div>
      </main>
    </div>
  </div>
</section>



<script>
  var productDataElement = document.getElementById("productData");
  var productDataString = productDataElement.getAttribute("data-product");
  var productData = JSON.parse(productDataString);
  console.log(productData);

  let quantity = 1;

  function increaseQuantity() {
    if (quantity < productData.stock) {
      quantity++;
      updateQuantity();
    }
  }

  function decreaseQuantity() {
    if (quantity > 1) {
      quantity--;
      updateQuantity();
    }
  }

  function updateQuantity() {
    document.getElementById("quantity").innerText = quantity;
  }
</script>

<script>
  const qty = document.getElementById("quantity");
  const productId = qty.getAttribute("productId");

  const addToCart = () => {
    fetch("/cart", {
      method: "post",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        qty: quantity,
        productId: productId,
      }),
    })
    .then(res => res.json())
    .then(({message,status}) =>{
      if(status === 401) window.location.href = '/login'
      console.log(message)

      window.showToast(message)
    })
  };


const addToWishlist = async () =>{
  const res = await fetch(`/wishlist/${productId}`,{
    method:"post",
  })

  res.status===201? window.showToast("Added to Wishlist"):window.showToast("Something went Wrong")
  
}








//   function magnify(imgID, zoom) {
//   var img, glass, w, h, bw;
//   img = document.getElementById(imgID);
//   /*create magnifier glass:*/
//   glass = document.createElement("DIV");
//   glass.setAttribute("class", "img-magnifier-glass");
//   /*insert magnifier glass:*/
//   img.parentElement.insertBefore(glass, img);
//   /*set background properties for the magnifier glass:*/
//   glass.style.backgroundImage = "url('" + img.src + "')";
//   glass.style.backgroundRepeat = "no-repeat";
//   glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
//   bw = 3;
//   w = glass.offsetWidth / 2;
//   h = glass.offsetHeight / 2;
//   /*execute a function when someone moves the magnifier glass over the image:*/
//   glass.addEventListener("mousemove", moveMagnifier);
//   img.addEventListener("mousemove", moveMagnifier);
//   /*and also for touch screens:*/
//   glass.addEventListener("touchmove", moveMagnifier);
//   img.addEventListener("touchmove", moveMagnifier);
//   function moveMagnifier(e) {
//     var pos, x, y;
//     /*prevent any other actions that may occur when moving over the image*/
//     e.preventDefault();
//     /*get the cursor's x and y positions:*/
//     pos = getCursorPos(e);
//     x = pos.x;
//     y = pos.y;
//     /*prevent the magnifier glass from being positioned outside the image:*/
//     if (x > img.width - (w / zoom)) {x = img.width - (w / zoom);}
//     if (x < w / zoom) {x = w / zoom;}
//     if (y > img.height - (h / zoom)) {y = img.height - (h / zoom);}
//     if (y < h / zoom) {y = h / zoom;}
//     /*set the position of the magnifier glass:*/
//     glass.style.left = (x - w) + "px";
//     glass.style.top = (y - h) + "px";
//     /*display what the magnifier glass "sees":*/
//     glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
//   }
//   function getCursorPos(e) {
//     var a, x = 0, y = 0;
//     e = e || window.event;
//     /*get the x and y positions of the image:*/
//     a = img.getBoundingClientRect();
//     /*calculate the cursor's x and y coordinates, relative to the image:*/
//     x = e.pageX - a.left;
//     y = e.pageY - a.top;
//     /*consider any page scrolling:*/
//     x = x - window.pageXOffset;
//     y = y - window.pageYOffset;
//     return {x : x, y : y};
//   }
// }

// magnify("myimage", 1.5);


  
</script>

<%- include('partials/closingHead.ejs') %>
