<%- include('partials/head.ejs') %> <%- include('partials/navbar.ejs') %>
<div class="container mt-5 d-flex justify-content-center">
  <a href="/" class="btn ms-5 btn-primary mt-5">Go back to home page</a>
</div>
<div
  style="width: 100vw; height: 80vh"
  id="data-elt"
  amount="<%= amount %>"
  callback="<%= callback %>"
></div>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>



  const dataElt = document.querySelector("#data-elt");
  const amount = dataElt.getAttribute("amount");
  const callback = dataElt.getAttribute("callback");
  var options = {
    key: "rzp_test_LlkM3nsq9U2ReN",
    amount: Math.round(amount * 100),
    currency: "INR",
    name: "Bookso",
    description: "Buy Product",
    callback_url: callback,
    theme: {
      color: "#3399cc",
    },
  };
  var rzp1 = new Razorpay(options);
  rzp1.open();
  rzp1.on('payment.failed', function (response){
    document.body.innerHTML = `
    

    <div class="container">
    <div class="container bg-bookso text-center text-light fs-4 fw-bold">
      ORDER SUMMARY
    </div>
    <div class="container-order fs-2 text-danger">
      <i class="fa-solid fa-circle-check fa-lg" style="color: red;"></i>
    Payment failed for the order.<br>Please <a href="/cart">retry</a> the order.
    </div>
</div>

    `
})

  setTimeout(() => {
  }, 10000);

</script>
<%- include('partials/closingHead.ejs') %>
