<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %> 
    <div class="py-3 mx-3 shadow custom-box-shadow">
    <div class="text-center text-bookso fs-4 fw-bold">WISHLIST</div>
    <hr style="color: #f6ef38; height: 6px"></div>
       <div class="container d-flex flex-wrap ">
        <% wishlists.forEach(product => { %>
            <div class="card mt-3 me-3" style="width: 16rem;">
                <a href="/wishlist/delete/<%= product._id %>">
                    <i class="fa fa-heart fs-5 ms-2 mt-2" style="color: #ff0000;"></i></a> 
                    <a href="/product/<%= product._id %>">
                <img src="../uploads/<%=  product.image[0] %>" class="card-img-top w-75" alt="..." style="margin-left: 32px;"></a>
                <div class="card-body shadow h-25">
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text text-primary">₹<%= product.price %></p>
                   
                </div>
                </div>
        <% }) %>
    </div>



    
<%- include('partials/closingHead.ejs') %>
